$darkColor: hsl(207,31%,21%);
$lightColor: hsl(210,31%,90%);

$gradient1: hsl(195,100%,44%);
$gradient2: hsl(183,65%,50%);
$gradient3: hsl(174,67%,50%);
$gradient4: hsl(150,69%,48%);


:root {

--darkColor: hsl(207,31%,21%);
--lightColor: hsl(210,31%,90%);

--gradient1: hsl(195,100%,44%);
--gradient2: hsl(183,65%,50%);
--gradient3: hsl(174,67%,50%);
--gradient4: hsl(150,69%,48%);
}