@import 'colors.module.scss';

$parent_width: clamp(0px, (90% + (10% - 1vw*5)), 1300px);
$shadow: 0 0 5px 3px black;
$header_height: 5vh;
$gap: 1rem;
$corners: 4px;

html{
    font-family: 'IBM Plex Sans', sans-serif;
    color: darken($darkColor, 10%);
}





p {
    font-size: clamp(12px, 2.5vw, 16px);
}

h6 {
    font-weight: bold;
    font-size: clamp(12px, 2.5vw, 16px);
}


