@import 'colors.module.scss';
@font-face {
    font-family: 'Plex';
    src: url(../fonts/IBMPlexSansVar-Roman.woff2)
}

$parent_width: clamp(0px, (90% + (10% - 1vw*5)), 1300px);
$shadow: 0 0 5px 3px black;
$header_height: 5vh;
$gap: 1rem;
$corners: 4px;
:root {
    --gap: 1rem;
}

html{
    font-family: 'Plex', 'Helvetica Neue', Arial, sans-serif !important;
    color: darken($darkColor, 10%);
}





p {
    font-size: clamp(12px, 2.5vw, 16px);
}

h6 {
    font-weight: bold;
    font-size: clamp(12px, 2.5vw, 16px);
}


